@use "../utils/mixins";

header {
  user-select: none;
    font-family: "Shrikhand", cursive;
    text-align: center;
    font-size: 32px;
    padding: 15px;
    @include mixins.box-shadow;
    position: relative;
  }